.canvas
  %img{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest("arpanchaudhury@gmail.com")}?s=150&d=mm"}
  %h3 Arpan Chaudhury
  %p= "A versatile and professional software graduate with a commitment to and experience of developing innovative and creative software solutions. Able to perform full software development life cycle activates. Interested in working with cutting-edge tools and technologies."

  %p= "Have gained commercial experience with exposure to software development . Including carrying out straightforward design following existing methodology set by senior colleagues."

  %p= "Actively looking for a software engineering position with a fast-paced and ambitious company that can offer product oriented development exposure, project based learning and a mentoring program."
  %a{:href => 'https://www.linkedin.com/in/arpanc'}
    %img{:src => '/assets/linked-in-logo.png', :height => 50, :width => 60}
  %a{:href => 'https://github.com/arpanchaudhury'}
    %img{:src => '/assets/github-logo.png', :height => 70, :width => 70}
  %a{:href => 'http://about.me/arpanchaudhury'}
    %img{:src => '/assets/about-me-logo.png', :height => 50, :width => 50}
